.detailItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(238, 238, 238, 0.3);
}

ul {
  list-style-type: none;
}

button {
  width: 50%;
  margin: 1em 0;
}

.server-info {
  padding: 1em 0 2em;
  font-size: 1.5em;
}

.categoryText {
  margin: 1em;
}
