.main-nav {
  display: flex;
  justify-content: center;
  position: static;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  padding: 1em 0;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.main-nav ul li {
  font-size: 1.2em;
  cursor: pointer;
}

.main-nav ul li::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.main-nav ul li:hover,
.main-nav ul li:active {
  font-weight: bold;
}

.nav-active {
  color: red;
}

.iconbasket {
  color: #aaa;
  font-size: 1.2em;
}

.iconbasket:hover,
.nav-active .iconbasket {
  color: #eee;
  font-size: 1.2em;
}
